*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  
}
:root{
  --dark-blue:#181f32;
  --gray:#647299;
  --red:#d13f30;
  --dark-gray:#3b4664;
  --violet:#252d44;
  --white:#fff;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color:var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}
.calculator{
  width: 30%;
  height: 70%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.display-screen{
  height: 20%;
  width: 100%;
}
.user-input{
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 16px;
  padding: 12px;height:100%;
  width: 100%;
  text-align: right;
  font-size: 3rem;
  border: none;
}
.keypad{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70%;
  padding: 5%;
  gap: 2rem;
   
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  gap: 1rem;
  
}
.key{
  background-color: var(--white);
  width: 21%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.delete-key{
  background-color: var(--red);
  width: 21%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  
}
.reset-key,.equal-key{
  width: 47%;
  height: 100%;
  cursor: pointer;

}
.equal-key{
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  
}
.reset-key{
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
